@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer utilities {
    @keyframes marquee-scroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    .marquee-inner {
        animation: marquee-scroll linear infinite;
        animation-duration: 20s;
    }
}
